In [2]:
import pandas as pd

In [3]:
ls

Data Cleaning.ipynb       README.md
Data Visualization.ipynb  zippedData/

In [4]:
cd zippedData/

/Users/josephmchugh/code/flatiron-project-1/zippedData

In [5]:
movie_gross = pd.read_csv('bom.movie_gross.csv.gz')
name_basics = pd.read_csv('imdb.name.basics.csv.gz')
title_akas = pd.read_csv('imdb.title.akas.csv.gz')
title_basics = pd.read_csv('imdb.title.basics.csv.gz')
title_crew = pd.read_csv('imdb.title.crew.csv.gz')
title_principles = pd.read_csv('imdb.title.principals.csv.gz')
title_ratings = pd.read_csv('imdb.title.ratings.csv.gz')
rt_movie_info = pd.read_csv('rt.movie_info.tsv.gz', sep='\t')
rt_reviews = pd.read_csv('rt.reviews.tsv.gz', sep='\t', encoding = 'unicode_escape')
tmdb_movies = pd.read_csv('tmdb.movies.csv.gz')
movie_budgets = pd.read_csv('tn.movie_budgets.csv.gz')

In [6]:
main_df = pd.DataFrame(movie_budgets['movie'])

In [7]:
main_df['Production Budget'] = movie_budgets['production_budget']
main_df['Domestic Gross'] = movie_budgets['domestic_gross']
main_df['Worldwide Gross'] = movie_budgets['worldwide_gross']

In [8]:
main_df = main_df.rename(columns={'movie':'Title'})

In [9]:
title_basics = title_basics.rename(columns={'primary_title': 'Title'})

In [10]:
main_df = pd.merge(main_df, title_basics, how='outer', on='Title')

In [11]:
len(movie_budgets)

5782

In [12]:
main_df = main_df.head(5782)

In [13]:
len(main_df)

5782

In [14]:
main_df.drop(columns = ['tconst','original_title','start_year'])

,Title,Production Budget,Domestic Gross,Worldwide Gross,runtime_minutes,genres
0,Avatar,"$425,000,000","$760,507,625","$2,776,345,279",93.0,Horror
1,Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875",136.0,"Action,Adventure,Fantasy"
2,Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350",113.0,"Action,Adventure,Sci-Fi"
3,Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963",141.0,"Action,Adventure,Sci-Fi"
4,Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747",NaN,NaN
...,...,...,...,...,...,...
5777,Truth or Dare,"$3,500,000","$41,411,015","$95,127,344",100.0,"Horror,Thriller"
5778,Truth or Dare,"$3,500,000","$41,411,015","$95,127,344",92.0,"Comedy,Drama,Romance"
5779,Menace II Society,"$3,500,000","$27,731,527","$27,731,527",NaN,NaN
5780,Friday,"$3,500,000","$27,467,564","$27,936,778",117.0,Family
5781,The Witch,"$3,500,000","$25,138,705","$40,454,520",92.0,"Horror,Mystery"

In [15]:
main_df = main_df.dropna(subset=['genres'])

In [16]:
main_df = main_df.reset_index()

In [31]:
main_df = main_df.drop(columns = ['tconst','original_title'])

In [34]:
# main_df['Production Budget'] = main_df['Production Budget'].apply(lambda x: x.strip('$'))
# main_df['Domestic Gross'] = main_df['Domestic Gross'].apply(lambda x: x.strip('$'))
# main_df['Worldwide Gross'] = main_df['Worldwide Gross'].apply(lambda x: x.strip('$'))
# main_df['Production Budget'] = main_df['Production Budget'].apply(lambda x: x.replace(',',''))
# main_df['Domestic Gross'] = main_df['Domestic Gross'].apply(lambda x: x.replace(',',''))
# main_df['Worldwide Gross'] = main_df['Worldwide Gross'].apply(lambda x: x.replace(',',''))
# main_df['Production Budget'] = main_df['Production Budget'].astype('int')
# main_df['Domestic Gross'] = main_df['Domestic Gross'].astype('int')
# main_df['Worldwide Gross'] = main_df['Worldwide Gross'].astype('int')

In [35]:
main_df

,Title,Production Budget,Domestic Gross,Worldwide Gross,start_year,runtime_minutes,genres
0,Avatar,425000000,760507625,2776345279,2011.0,93.0,Horror
1,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,2011.0,136.0,"Action,Adventure,Fantasy"
2,Dark Phoenix,350000000,42762350,149762350,2019.0,113.0,"Action,Adventure,Sci-Fi"
3,Avengers: Age of Ultron,330600000,459005868,1403013963,2015.0,141.0,"Action,Adventure,Sci-Fi"
4,Avengers: Infinity War,300000000,678815482,2048134200,2018.0,149.0,"Action,Adventure,Sci-Fi"
...,...,...,...,...,...,...,...
2979,Truth or Dare,3500000,41411015,95127344,2016.0,90.0,"Drama,Romance"
2980,Truth or Dare,3500000,41411015,95127344,2018.0,100.0,"Horror,Thriller"
2981,Truth or Dare,3500000,41411015,95127344,2018.0,92.0,"Comedy,Drama,Romance"
2982,Friday,3500000,27467564,27936778,2012.0,117.0,Family
2983,The Witch,3500000,25138705,40454520,2015.0,92.0,"Horror,Mystery"

In [36]:
main_df['genres'].value_counts()

Drama                              375
Documentary                        210
Comedy                             109
Comedy,Drama                        81
Drama,Romance                       72
                                  ...
Adventure,Horror,Mystery             1
Adventure,Biography,Documentary      1
Family,Fantasy,Music                 1
Comedy,Horror,Mystery                1
Biography,Family,Sport               1
Name: genres, Length: 322, dtype: int64