In [1]:
import pandas as pd

In [2]:
ls

Data Cleaning.ipynb       README.md
Data Visualization.ipynb  zippedData/

In [3]:
cd zippedData/

/Users/josephmchugh/code/flatiron-project-1/zippedData

In [4]:
#importing datasets
movie_gross = pd.read_csv('bom.movie_gross.csv.gz')
name_basics = pd.read_csv('imdb.name.basics.csv.gz')
title_akas = pd.read_csv('imdb.title.akas.csv.gz')
title_basics = pd.read_csv('imdb.title.basics.csv.gz')
title_crew = pd.read_csv('imdb.title.crew.csv.gz')
title_principles = pd.read_csv('imdb.title.principals.csv.gz')
title_ratings = pd.read_csv('imdb.title.ratings.csv.gz')
rt_movie_info = pd.read_csv('rt.movie_info.tsv.gz', sep='\t')
rt_reviews = pd.read_csv('rt.reviews.tsv.gz', sep='\t', encoding = 'unicode_escape')
tmdb_movies = pd.read_csv('tmdb.movies.csv.gz')
movie_budgets = pd.read_csv('tn.movie_budgets.csv.gz')

In [5]:
#creating main dataframe
main_df = pd.DataFrame(movie_budgets['movie'])

In [6]:
#creating columns
main_df['Production Budget'] = movie_budgets['production_budget']
main_df['Domestic Gross'] = movie_budgets['domestic_gross']
main_df['Worldwide Gross'] = movie_budgets['worldwide_gross']

In [7]:
#renaming column
main_df = main_df.rename(columns={'movie':'Title'})
title_basics = title_basics.rename(columns={'primary_title': 'Title'})

In [8]:
#merging title_basics dataset with main dataframe
main_df = pd.merge(main_df, title_basics, how='outer', on='Title')

In [9]:
main_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 149759 entries, 0 to 149758
Data columns (total 9 columns):
Title                149759 non-null object
Production Budget    7221 non-null object
Domestic Gross       7221 non-null object
Worldwide Gross      7221 non-null object
tconst               146353 non-null object
original_title       146332 non-null object
start_year           146353 non-null float64
runtime_minutes      114581 non-null float64
genres               140940 non-null object
dtypes: float64(2), object(7)
memory usage: 11.4+ MB

In [10]:
#Shortening Dataset to only include first 3743 titles (the ones with data on budget & gross)
main_df = main_df.head(3743)

In [11]:
#dropping unneccessary columns
main_df = main_df.drop(columns = ['tconst','original_title','start_year'])

In [12]:
#dropping null values in genre
main_df = main_df.dropna(subset=['genres'])

In [13]:
#resetting index
main_df = main_df.reset_index()

In [14]:
#Taking '$' and ',' out 
main_df['Production Budget'] = main_df['Production Budget'].apply(lambda x: x.strip('$'))
main_df['Domestic Gross'] = main_df['Domestic Gross'].apply(lambda x: x.strip('$'))
main_df['Worldwide Gross'] = main_df['Worldwide Gross'].apply(lambda x: x.strip('$'))
main_df['Production Budget'] = main_df['Production Budget'].apply(lambda x: x.replace(',',''))
main_df['Domestic Gross'] = main_df['Domestic Gross'].apply(lambda x: x.replace(',',''))
main_df['Worldwide Gross'] = main_df['Worldwide Gross'].apply(lambda x: x.replace(',',''))

In [15]:
#Converting numbers from strings to floats
main_df['Production Budget'] = main_df['Production Budget'].astype('int')
main_df['Domestic Gross'] = main_df['Domestic Gross'].astype('int')
main_df['Worldwide Gross'] = main_df['Worldwide Gross'].astype('int')

In [16]:
#Calculating Pofit
main_df['Profit'] = main_df['Worldwide Gross'] - main_df['Production Budget']

In [17]:
#Adding ',' back in
main_df['Profit'] = main_df['Profit'].apply(lambda x: format(x, '8,d'))
main_df['Domestic Gross'] = main_df['Domestic Gross'].apply(lambda x: format(x, '8,d'))
main_df['Production Budget'] = main_df['Production Budget'].apply(lambda x: format(x, '8,d'))

In [18]:
#Correcting Avatar runtime
main_df.loc[(main_df['Title'] == 'Avatar'), ['runtime_minutes']] = 162

In [19]:
main_df['genres'].value_counts()

Drama                           221
Documentary                     132
Comedy                           78
Adventure,Animation,Comedy       72
Action,Adventure,Sci-Fi          55
                               ...
Action,Adventure,Documentary      1
Comedy,Sport                      1
Drama,Fantasy,Thriller            1
Adventure,Documentary,War         1
Comedy,Drama,Thriller             1
Name: genres, Length: 278, dtype: int64