In [66]:
import pandas as pd

In [67]:
ls

bom.movie_gross.csv.gz        imdb.title.ratings.csv.gz
imdb.name.basics.csv.gz       rt.movie_info.tsv.gz
imdb.title.akas.csv.gz        rt.reviews.tsv.gz
imdb.title.basics.csv.gz      tmdb.movies.csv.gz
imdb.title.crew.csv.gz        tn.movie_budgets.csv.gz
imdb.title.principals.csv.gz

In [68]:
cd zippedData/

[Errno 2] No such file or directory: 'zippedData/'
/Users/viviandang/code/Git Repositories/flatiron-project-1/zippedData

In [69]:
movie_gross = pd.read_csv('bom.movie_gross.csv.gz')
name_basics = pd.read_csv('imdb.name.basics.csv.gz')
title_akas = pd.read_csv('imdb.title.akas.csv.gz')
title_basics = pd.read_csv('imdb.title.basics.csv.gz')
title_crew = pd.read_csv('imdb.title.crew.csv.gz')
title_principles = pd.read_csv('imdb.title.principals.csv.gz')
title_ratings = pd.read_csv('imdb.title.ratings.csv.gz')
rt_movie_info = pd.read_csv('rt.movie_info.tsv.gz', sep='\t')
rt_reviews = pd.read_csv('rt.reviews.tsv.gz', sep='\t', encoding = 'unicode_escape')
tmdb_movies = pd.read_csv('tmdb.movies.csv.gz')
movie_budgets = pd.read_csv('tn.movie_budgets.csv.gz')

In [70]:
main_df = pd.DataFrame(movie_budgets['movie'])

In [71]:
main_df['Production Budget'] = movie_budgets['production_budget']
main_df['Domestic Gross'] = movie_budgets['domestic_gross']
main_df['Worldwide Gross'] = movie_budgets['worldwide_gross']

In [72]:
main_df = main_df.rename(columns={'movie':'Title'})

In [73]:
title_basics = title_basics.rename(columns={'primary_title': 'Title'})

In [74]:
main_df = pd.merge(main_df, title_basics, how='outer', on='Title')

In [75]:
len(movie_budgets)

5782

In [76]:
main_df = main_df.head(5782)

In [77]:
len(main_df)

5782

In [78]:
main_df = main_df.drop(columns = ['tconst','original_title','start_year'])

In [79]:
main_df = main_df.dropna(subset=['genres'])

In [80]:
main_df = main_df.reset_index()

In [81]:
main_df = main_df.drop(columns = ['index'])

In [82]:
main_df

,Title,Production Budget,Domestic Gross,Worldwide Gross,runtime_minutes,genres
0,Avatar,"$425,000,000","$760,507,625","$2,776,345,279",93.0,Horror
1,Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875",136.0,"Action,Adventure,Fantasy"
2,Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350",113.0,"Action,Adventure,Sci-Fi"
3,Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963",141.0,"Action,Adventure,Sci-Fi"
4,Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,134,200",149.0,"Action,Adventure,Sci-Fi"
...,...,...,...,...,...,...
2979,Truth or Dare,"$3,500,000","$41,411,015","$95,127,344",90.0,"Drama,Romance"
2980,Truth or Dare,"$3,500,000","$41,411,015","$95,127,344",100.0,"Horror,Thriller"
2981,Truth or Dare,"$3,500,000","$41,411,015","$95,127,344",92.0,"Comedy,Drama,Romance"
2982,Friday,"$3,500,000","$27,467,564","$27,936,778",117.0,Family
2983,The Witch,"$3,500,000","$25,138,705","$40,454,520",92.0,"Horror,Mystery"

In [83]:
# main_df["Production Budget", "Domestic Gross", "Worldwide Gross"].apply(lambda x: x.strip("$"))
main_df["Production Budget"] = main_df["Production Budget"].apply(lambda x: x.strip("$"))
main_df["Production Budget"] = main_df["Production Budget"].apply(lambda x: x.replace(",",""))
main_df["Domestic Gross"] = main_df["Domestic Gross"].apply(lambda x: x.strip("$"))
main_df["Domestic Gross"] = main_df["Domestic Gross"].apply(lambda x: x.replace(",",""))
main_df["Worldwide Gross"] = main_df["Worldwide Gross"].apply(lambda x: x.strip("$"))
main_df["Worldwide Gross"] = main_df["Worldwide Gross"].apply(lambda x: x.replace(",",""))

In [84]:
main_df["Production Budget"] = main_df["Production Budget"].astype(int)
main_df["Domestic Gross"] = main_df["Domestic Gross"].astype(int)
main_df["Worldwide Gross"] = main_df["Worldwide Gross"].astype(int)

In [85]:
main_df

,Title,Production Budget,Domestic Gross,Worldwide Gross,runtime_minutes,genres
0,Avatar,425000000,760507625,2776345279,93.0,Horror
1,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,136.0,"Action,Adventure,Fantasy"
2,Dark Phoenix,350000000,42762350,149762350,113.0,"Action,Adventure,Sci-Fi"
3,Avengers: Age of Ultron,330600000,459005868,1403013963,141.0,"Action,Adventure,Sci-Fi"
4,Avengers: Infinity War,300000000,678815482,2048134200,149.0,"Action,Adventure,Sci-Fi"
...,...,...,...,...,...,...
2979,Truth or Dare,3500000,41411015,95127344,90.0,"Drama,Romance"
2980,Truth or Dare,3500000,41411015,95127344,100.0,"Horror,Thriller"
2981,Truth or Dare,3500000,41411015,95127344,92.0,"Comedy,Drama,Romance"
2982,Friday,3500000,27467564,27936778,117.0,Family
2983,The Witch,3500000,25138705,40454520,92.0,"Horror,Mystery"

In [86]:
main_df["Profit"] = main_df["Worldwide Gross"] - main_df["Production Budget"]

In [87]:
main_df

,Title,Production Budget,Domestic Gross,Worldwide Gross,runtime_minutes,genres,Profit
0,Avatar,425000000,760507625,2776345279,93.0,Horror,2351345279
1,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,136.0,"Action,Adventure,Fantasy",635063875
2,Dark Phoenix,350000000,42762350,149762350,113.0,"Action,Adventure,Sci-Fi",-200237650
3,Avengers: Age of Ultron,330600000,459005868,1403013963,141.0,"Action,Adventure,Sci-Fi",1072413963
4,Avengers: Infinity War,300000000,678815482,2048134200,149.0,"Action,Adventure,Sci-Fi",1748134200
...,...,...,...,...,...,...,...
2979,Truth or Dare,3500000,41411015,95127344,90.0,"Drama,Romance",91627344
2980,Truth or Dare,3500000,41411015,95127344,100.0,"Horror,Thriller",91627344
2981,Truth or Dare,3500000,41411015,95127344,92.0,"Comedy,Drama,Romance",91627344
2982,Friday,3500000,27467564,27936778,117.0,Family,24436778
2983,The Witch,3500000,25138705,40454520,92.0,"Horror,Mystery",36954520

In [88]:
main_df.drop_duplicates(subset="Title", keep="first")

,Title,Production Budget,Domestic Gross,Worldwide Gross,runtime_minutes,genres,Profit
0,Avatar,425000000,760507625,2776345279,93.0,Horror,2351345279
1,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,136.0,"Action,Adventure,Fantasy",635063875
2,Dark Phoenix,350000000,42762350,149762350,113.0,"Action,Adventure,Sci-Fi",-200237650
3,Avengers: Age of Ultron,330600000,459005868,1403013963,141.0,"Action,Adventure,Sci-Fi",1072413963
4,Avengers: Infinity War,300000000,678815482,2048134200,149.0,"Action,Adventure,Sci-Fi",1748134200
...,...,...,...,...,...,...,...
2974,Annie Get Your Gun,3768785,8000000,8000000,NaN,Crime,4231215
2975,Four Lions,3750000,310007,2436111,97.0,"Comedy,Crime,Drama",-1313889
2976,Truth or Dare,3500000,41411015,95127344,85.0,"Horror,Romance,Thriller",91627344
2982,Friday,3500000,27467564,27936778,117.0,Family,24436778
2983,The Witch,3500000,25138705,40454520,92.0,"Horror,Mystery",36954520

In [89]:
main_df["genres"].nunique() #count of unique genres

322

In [90]:
main_df.sort_values(by=['Profit'], ascending = False,inplace=True)

In [91]:
main_df

,Title,Production Budget,Domestic Gross,Worldwide Gross,runtime_minutes,genres,Profit
0,Avatar,425000000,760507625,2776345279,93.0,Horror,2351345279
40,Titanic,200000000,659363944,2208208395,NaN,Adventure,2008208395
41,Titanic,200000000,659363944,2208208395,115.0,Family,2008208395
4,Avengers: Infinity War,300000000,678815482,2048134200,149.0,"Action,Adventure,Sci-Fi",1748134200
25,Jurassic World,215000000,652270625,1648854864,124.0,"Action,Adventure,Sci-Fi",1433854864
...,...,...,...,...,...,...,...
490,Call of the Wild,82000000,0,0,NaN,"Adventure,Animation,Family",-82000000
463,Bright,90000000,0,0,117.0,"Action,Crime,Fantasy",-90000000
355,Men in Black: International,110000000,3100000,3100000,115.0,"Action,Adventure,Comedy",-106900000
171,Mars Needs Moms,150000000,21392758,39549758,88.0,"Adventure,Animation,Family",-110450242
2,Dark Phoenix,350000000,42762350,149762350,113.0,"Action,Adventure,Sci-Fi",-200237650

In [92]:
main_df.tail()

,Title,Production Budget,Domestic Gross,Worldwide Gross,runtime_minutes,genres,Profit
490,Call of the Wild,82000000,0,0,NaN,"Adventure,Animation,Family",-82000000
463,Bright,90000000,0,0,117.0,"Action,Crime,Fantasy",-90000000
355,Men in Black: International,110000000,3100000,3100000,115.0,"Action,Adventure,Comedy",-106900000
171,Mars Needs Moms,150000000,21392758,39549758,88.0,"Adventure,Animation,Family",-110450242
2,Dark Phoenix,350000000,42762350,149762350,113.0,"Action,Adventure,Sci-Fi",-200237650

In [93]:
main_df1 = main_df([main_df['Profit'] >= 10000000]) #with only 3 days to clean and process the data so we want to focus on movies that generates more than 10mil profit

TypeError: 'DataFrame' object is not callable

In [64]:
main_df1

,Title,Production Budget,Domestic Gross,Worldwide Gross,runtime_minutes,genres,Profit
0,Avatar,425000000,760507625,2776345279,93.0,Horror,2351345279
41,Titanic,200000000,659363944,2208208395,115.0,Family,2008208395
4,Avengers: Infinity War,300000000,678815482,2048134200,149.0,"Action,Adventure,Sci-Fi",1748134200
25,Jurassic World,215000000,652270625,1648854864,124.0,"Action,Adventure,Sci-Fi",1433854864
65,Furious 7,190000000,353007020,1518722794,137.0,"Action,Crime,Thriller",1328722794
...,...,...,...,...,...,...,...
841,Beautiful Creatures,50000000,19452138,60282876,124.0,"Drama,Fantasy,Romance",10282876
2489,Heavy Metal,9300000,19571091,19571091,50.0,"Documentary,Family",10271091
1759,What's Your Number?,20000000,14011084,30163785,106.0,"Comedy,Romance",10163785
2508,The Edge of Seventeen,9000000,14431633,19096003,104.0,"Comedy,Drama",10096003
2644,Somewhere,7000000,1785645,17023121,97.0,"Comedy,Drama",10023121

In [49]:
main_df1 #we are treating worldwide gross as revenue (although it is only one component if revenue, aka the direct sales to retailer and consumers. also we are treating production budget as total expense when there is also marketing budget..ect. )

,Title,Production Budget,Domestic Gross,Worldwide Gross,runtime_minutes,genres,Profit
0,Avatar,425000000,760507625,2776345279,93.0,Horror,2351345279
41,Titanic,200000000,659363944,2208208395,115.0,Family,2008208395
4,Avengers: Infinity War,300000000,678815482,2048134200,149.0,"Action,Adventure,Sci-Fi",1748134200
25,Jurassic World,215000000,652270625,1648854864,124.0,"Action,Adventure,Sci-Fi",1433854864
65,Furious 7,190000000,353007020,1518722794,137.0,"Action,Crime,Thriller",1328722794
...,...,...,...,...,...,...,...
841,Beautiful Creatures,50000000,19452138,60282876,124.0,"Drama,Fantasy,Romance",10282876
2489,Heavy Metal,9300000,19571091,19571091,50.0,"Documentary,Family",10271091
1759,What's Your Number?,20000000,14011084,30163785,106.0,"Comedy,Romance",10163785
2508,The Edge of Seventeen,9000000,14431633,19096003,104.0,"Comedy,Drama",10096003
2644,Somewhere,7000000,1785645,17023121,97.0,"Comedy,Drama",10023121

In [50]:
main_df1['genres'].nunique()

243

In [51]:
main_df1['genres'].unique()

array(['Horror', 'Family', 'Action,Adventure,Sci-Fi',
       'Action,Crime,Thriller', 'Adventure,Drama,Sport',
       'Fantasy,Romance', 'Adventure,Animation,Comedy',
       'Drama,Fantasy,Romance', 'Family,Fantasy,Musical',
       'Action,Adventure,Animation', 'Action,Adventure,Fantasy',
       'Action,Adventure,Thriller', 'Action,Adventure,Comedy',
       'Biography,Drama,Music', 'Adventure,Family,Fantasy', 'Documentary',
       'Fantasy,Musical', 'Action,Thriller', 'Adventure,Drama,Family',
       'Animation', 'Action,Sci-Fi,Thriller', 'Thriller',
       'Adventure,Fantasy', 'Crime,Drama',
       'Biography,Documentary,History', 'Documentary,Drama,Sport',
       'Sci-Fi', 'Horror,Thriller', 'Adventure,Drama,Fantasy',
       'Drama,Sci-Fi,Thriller', 'Action,Adventure,Family',
       'Animation,Comedy,Family', 'Adventure,Drama,Sci-Fi',
       'Action,Adventure,Drama', 'Drama,Romance,Thriller',
       'Comedy,Mystery', 'Comedy,Fantasy', 'Drama,Fantasy,Mystery',
       'Action,Biography,Drama', 'Comedy,Drama,Family',
       'Action,Drama,Sci-Fi', 'Adventure,Comedy,Family',
       'Drama,Family,Fantasy', 'Music', 'Fantasy', 'Musical',
       'Animation,Documentary', 'Action,Adventure,Crime', 'Adventure',
       'Comedy,Drama,Music', 'Action,Adventure,Biography', 'Drama',
       'Documentary,Music', 'Documentary,Thriller',
       'Action,Horror,Sci-Fi', 'Drama,Western', 'Action,Drama,History',
       'Adventure,Drama', 'Action,Adventure,Horror',
       'Documentary,Drama,Family', 'Crime,Fantasy,Thriller',
       'Drama,Romance', 'Crime,Drama,Family', 'Drama,Thriller',
       'Drama,Horror,Sci-Fi', 'Action,Mystery,Sci-Fi',
       'Action,Drama,Family', 'Comedy,Romance,Sci-Fi',
       'Drama,Mystery,Thriller', 'Adventure,Animation,Drama',
       'Biography,Drama,Musical', 'Biography,Comedy,Drama',
       'Horror,Mystery,Thriller', 'Crime,Drama,Mystery',
       'Biography,Crime,Drama', 'Drama,Family', 'Action,Comedy,Crime',
       'Action,Animation,Comedy', 'Adventure,Mystery,Sci-Fi',
       'Comedy,Romance,Sport', 'Action,Drama,Sport', 'Drama,Fantasy',
       'Drama,Horror,Thriller', 'Crime,Mystery,Thriller', 'Action',
       'Action,Drama', 'Action,Comedy,Fantasy', 'Comedy',
       'Documentary,Family', 'Comedy,Music', 'Comedy,Romance',
       'Biography,Documentary', 'Documentary,History', 'Comedy,Drama',
       'Documentary,Drama', 'Comedy,Crime',
       'Animation,Documentary,Family', 'Drama,Sci-Fi',
       'Crime,Horror,Mystery', 'Action,Fantasy,War', 'Mystery,Thriller',
       'Adventure,Drama,Western', 'Comedy,Drama,Romance',
       'Biography,Drama,Thriller', 'Comedy,Family,Fantasy',
       'Biography,Drama,History', 'Mystery,Sci-Fi,Thriller',
       'Adventure,Biography,Comedy', 'Action,Adventure,Mystery',
       'Action,Crime,Drama', 'Action,Sci-Fi', 'Drama,Romance,Sci-Fi',
       'Biography,Drama', 'Adventure,Biography,Documentary',
       'Action,Mystery,Thriller', 'Comedy,Mystery,Sci-Fi',
       'Action,Fantasy,Horror', 'Drama,Sport',
       'Adventure,Animation,Family', 'Adventure,Drama,Thriller',
       'Adventure,Comedy,Drama', 'Drama,Mystery,Sci-Fi',
       'Drama,Horror,Mystery', 'Drama,War', 'Action,Comedy',
       'Action,Comedy,Sci-Fi', 'Action,Comedy,Documentary',
       'Action,Drama,Fantasy', 'Adventure,Comedy',
       'Horror,Sci-Fi,Thriller', 'Adventure,Comedy,Crime',
       'Biography,Documentary,Drama', 'Action,Drama,Romance',
       'Drama,Music,Romance', 'Comedy,Documentary,Drama',
       'Comedy,Fantasy,Romance', 'Action,Drama,War',
       'Drama,History,Thriller', 'Action,Crime,Sci-Fi',
       'Crime,Drama,Thriller', 'Comedy,Crime,Drama',
       'Biography,Drama,Sport', 'Drama,Romance,War',
       'Drama,Fantasy,Horror', 'Action,Adventure,History', 'Mystery',
       'Action,Comedy,Drama', 'Biography,Drama,Romance',
       'Comedy,Music,Romance', 'Action,Horror,Mystery',
       'Comedy,Crime,Romance', 'Comedy,Family', 'Action,Fantasy,Thriller',
       'Action,Comedy,Romance', 'Horror,Romance,Thriller',
       'Comedy,Family,Romance', 'Comedy,Drama,History',
       'Comedy,Fantasy,Horror', 'Drama,History,War',
       'Action,Biography,Comedy', 'Comedy,Horror,Romance', 'Crime',
       'Crime,Drama,Horror', 'Animation,Family,Fantasy',
       'Fantasy,Horror,Thriller', 'Crime,Horror,Thriller',
       'Biography,Drama,Family', 'Action,Drama,Thriller',
       'Comedy,Drama,Fantasy', 'Romance,Sci-Fi,Thriller',
       'Biography,Documentary,Music', 'Biography,Comedy,Documentary',
       'Comedy,Drama,Mystery', 'Action,Adventure,Western', 'Action,Crime',
       'Documentary,Fantasy,Mystery', 'Drama,Fantasy,Music',
       'Animation,Drama', 'Drama,Horror', 'Comedy,Drama,Thriller',
       'Adventure,Comedy,Sci-Fi', 'Action,Thriller,War',
       'Action,Documentary', 'Crime,Thriller', 'Documentary,News',
       'Biography,Documentary,Sport', 'Comedy,Horror',
       'Action,Crime,Sport', 'Sci-Fi,Thriller', 'Horror,Mystery',
       'Romance', 'Western', 'Adventure,Comedy,Music',
       'Drama,Music,Musical', 'Action,Adventure,Romance',
       'Fantasy,Horror,Mystery', 'Action,Documentary,Drama',
       'Adventure,Documentary', 'Crime,Drama,Fantasy',
       'Adventure,Documentary,Drama', 'Documentary,Drama,War',
       'Drama,Mystery,War', 'Adventure,Comedy,Romance',
       'Comedy,Drama,Musical', 'Adventure,Biography,Drama',
       'Adventure,Comedy,Horror', 'Drama,Family,Thriller',
       'Drama,Mystery,Romance', 'Adventure,Horror,Mystery',
       'Animation,Documentary,Sci-Fi', 'Drama,Family,Romance',
       'Documentary,Western', 'Action,Romance', 'Documentary,Drama,News',
       'Action,Crime,Mystery', 'Horror,Mystery,Sci-Fi',
       'Action,Comedy,Sport', 'Drama,Music', 'Comedy,Sci-Fi',
       'Comedy,Drama,Sport', 'Adventure,Family,Sci-Fi',
       'Action,Drama,Mystery', 'Comedy,Sport',
       'Action,Adventure,Documentary', 'Action,Comedy,Family',
       'Adventure,Comedy,Fantasy', 'Comedy,Crime,Thriller',
       'Biography,Documentary,Family', 'Action,Animation,Fantasy',
       'Adventure,Documentary,History', 'Drama,Thriller,War',
       'Comedy,Horror,Thriller', 'Adventure,Animation', 'War',
       'Adventure,Family', 'Animation,Horror', 'Drama,Family,Mystery',
       'Drama,Family,Sport', 'Comedy,Documentary', 'Action,History',
       'Drama,History', 'Comedy,Thriller', 'Action,Comedy,Horror'],
      dtype=object)

In [52]:
#can create a histogram
#set unique words = 0 then iterate =+1
#use contains, startwith, endwith

In [53]:
main_df1= main_df = main_df.dropna(subset=['runtime_minutes'])

In [54]:
main_df1

,Title,Production Budget,Domestic Gross,Worldwide Gross,runtime_minutes,genres,Profit
0,Avatar,425000000,760507625,2776345279,93.0,Horror,2351345279
41,Titanic,200000000,659363944,2208208395,115.0,Family,2008208395
4,Avengers: Infinity War,300000000,678815482,2048134200,149.0,"Action,Adventure,Sci-Fi",1748134200
25,Jurassic World,215000000,652270625,1648854864,124.0,"Action,Adventure,Sci-Fi",1433854864
65,Furious 7,190000000,353007020,1518722794,137.0,"Action,Crime,Thriller",1328722794
...,...,...,...,...,...,...,...
459,The Promise,90000000,8224288,10551417,62.0,"Comedy,Drama,Romance",-79448583
463,Bright,90000000,0,0,117.0,"Action,Crime,Fantasy",-90000000
355,Men in Black: International,110000000,3100000,3100000,115.0,"Action,Adventure,Comedy",-106900000
171,Mars Needs Moms,150000000,21392758,39549758,88.0,"Adventure,Animation,Family",-110450242
2,Dark Phoenix,350000000,42762350,149762350,113.0,"Action,Adventure,Sci-Fi",-200237650

In [55]:
main_df.dropna() #removing null values row to keep our data consistent

,Title,Production Budget,Domestic Gross,Worldwide Gross,runtime_minutes,genres,Profit
0,Avatar,425000000,760507625,2776345279,93.0,Horror,2351345279
41,Titanic,200000000,659363944,2208208395,115.0,Family,2008208395
4,Avengers: Infinity War,300000000,678815482,2048134200,149.0,"Action,Adventure,Sci-Fi",1748134200
25,Jurassic World,215000000,652270625,1648854864,124.0,"Action,Adventure,Sci-Fi",1433854864
65,Furious 7,190000000,353007020,1518722794,137.0,"Action,Crime,Thriller",1328722794
...,...,...,...,...,...,...,...
459,The Promise,90000000,8224288,10551417,62.0,"Comedy,Drama,Romance",-79448583
463,Bright,90000000,0,0,117.0,"Action,Crime,Fantasy",-90000000
355,Men in Black: International,110000000,3100000,3100000,115.0,"Action,Adventure,Comedy",-106900000
171,Mars Needs Moms,150000000,21392758,39549758,88.0,"Adventure,Animation,Family",-110450242
2,Dark Phoenix,350000000,42762350,149762350,113.0,"Action,Adventure,Sci-Fi",-200237650

In [56]:
# main_df1 = main_df1.groupby('genres')

In [57]:
# print(main_df1)

In [ ]:
main_

In [97]:
grouped_df = main_df1.groupby(['genres']).mean()

In [101]:
grouped_df.sort_values(by=['Profit'], ascending = False)

,Production Budget,Domestic Gross,Worldwide Gross,runtime_minutes,Profit
genres,,,,,
"Fantasy,Romance",150000000.0,400738009.0,1.272470e+09,92.0,1.122470e+09
"Adventure,Drama,Sport",150000000.0,400738009.0,1.272470e+09,93.0,1.122470e+09
"Family,Fantasy,Musical",90000000.0,440035715.5,9.338154e+08,94.5,8.438154e+08
"Fantasy,Musical",200000000.0,334191110.0,1.025491e+09,99.0,8.254911e+08
"Adventure,Fantasy",250000000.0,256743321.5,9.529722e+08,152.5,7.029722e+08
...,...,...,...,...,...
"Comedy,Documentary",10000000.0,23591043.0,2.359104e+07,96.0,1.359104e+07
"Action,History",37500000.0,16247159.0,5.064742e+07,86.0,1.314742e+07
"Drama,History",38000000.0,39177215.0,5.097066e+07,96.0,1.297066e+07
"Comedy,Thriller",7000000.0,19910002.0,1.991000e+07,92.0,1.291000e+07
"Action,Comedy,Horror",55000000.0,34353000.0,6.713004e+07,102.0,1.213004e+07

In [94]:
#how to remove columns with negative values