In [65]:
import pandas as pd

In [66]:
ls

bom.movie_gross.csv.gz        imdb.title.ratings.csv.gz
imdb.name.basics.csv.gz       rt.movie_info.tsv.gz
imdb.title.akas.csv.gz        rt.reviews.tsv.gz
imdb.title.basics.csv.gz      tmdb.movies.csv.gz
imdb.title.crew.csv.gz        tn.movie_budgets.csv.gz
imdb.title.principals.csv.gz

In [81]:
# cd zippedData/

In [82]:
movie_gross = pd.read_csv('bom.movie_gross.csv.gz')
name_basics = pd.read_csv('imdb.name.basics.csv.gz')
title_akas = pd.read_csv('imdb.title.akas.csv.gz')
title_basics = pd.read_csv('imdb.title.basics.csv.gz')
title_crew = pd.read_csv('imdb.title.crew.csv.gz')
title_principles = pd.read_csv('imdb.title.principals.csv.gz')
title_ratings = pd.read_csv('imdb.title.ratings.csv.gz')
rt_movie_info = pd.read_csv('rt.movie_info.tsv.gz', sep='\t')
rt_reviews = pd.read_csv('rt.reviews.tsv.gz', sep='\t', encoding = 'unicode_escape')
tmdb_movies = pd.read_csv('tmdb.movies.csv.gz')
movie_budgets = pd.read_csv('tn.movie_budgets.csv.gz')

In [83]:
main_df = pd.DataFrame(movie_budgets['movie'])

In [84]:
main_df['Production Budget'] = movie_budgets['production_budget']
main_df['Domestic Gross'] = movie_budgets['domestic_gross']
main_df['Worldwide Gross'] = movie_budgets['worldwide_gross']

In [85]:
main_df = main_df.rename(columns={'movie':'Title'})

In [86]:
title_basics = title_basics.rename(columns={'primary_title': 'Title'})

In [87]:
main_df = pd.merge(main_df, title_basics, how='outer', on='Title')

In [88]:
len(movie_budgets)

5782

In [89]:
main_df = main_df.head(5782)

In [90]:
len(main_df)

5782

In [91]:
main_df = main_df.drop(columns = ['tconst','original_title','start_year'])

In [92]:
main_df = main_df.dropna(subset=['genres'])

In [93]:
main_df = main_df.reset_index()

In [94]:
main_df = main_df.drop(columns = ['index'])

In [95]:
main_df

,Title,Production Budget,Domestic Gross,Worldwide Gross,runtime_minutes,genres
0,Avatar,"$425,000,000","$760,507,625","$2,776,345,279",93.0,Horror
1,Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875",136.0,"Action,Adventure,Fantasy"
2,Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350",113.0,"Action,Adventure,Sci-Fi"
3,Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963",141.0,"Action,Adventure,Sci-Fi"
4,Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,134,200",149.0,"Action,Adventure,Sci-Fi"
...,...,...,...,...,...,...
2979,Truth or Dare,"$3,500,000","$41,411,015","$95,127,344",90.0,"Drama,Romance"
2980,Truth or Dare,"$3,500,000","$41,411,015","$95,127,344",100.0,"Horror,Thriller"
2981,Truth or Dare,"$3,500,000","$41,411,015","$95,127,344",92.0,"Comedy,Drama,Romance"
2982,Friday,"$3,500,000","$27,467,564","$27,936,778",117.0,Family
2983,The Witch,"$3,500,000","$25,138,705","$40,454,520",92.0,"Horror,Mystery"

In [96]:
# main_df["Production Budget", "Domestic Gross", "Worldwide Gross"].apply(lambda x: x.strip("$"))
main_df["Production Budget"] = main_df["Production Budget"].apply(lambda x: x.strip("$"))
main_df["Production Budget"] = main_df["Production Budget"].apply(lambda x: x.replace(",",""))
main_df["Domestic Gross"] = main_df["Domestic Gross"].apply(lambda x: x.strip("$"))
main_df["Domestic Gross"] = main_df["Domestic Gross"].apply(lambda x: x.replace(",",""))
main_df["Worldwide Gross"] = main_df["Worldwide Gross"].apply(lambda x: x.strip("$"))
main_df["Worldwide Gross"] = main_df["Worldwide Gross"].apply(lambda x: x.replace(",",""))

In [97]:
main_df["Production Budget"] = main_df["Production Budget"].astype(int)
main_df["Domestic Gross"] = main_df["Domestic Gross"].astype(int)
main_df["Worldwide Gross"] = main_df["Worldwide Gross"].astype(int)

In [98]:
main_df

,Title,Production Budget,Domestic Gross,Worldwide Gross,runtime_minutes,genres
0,Avatar,425000000,760507625,2776345279,93.0,Horror
1,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,136.0,"Action,Adventure,Fantasy"
2,Dark Phoenix,350000000,42762350,149762350,113.0,"Action,Adventure,Sci-Fi"
3,Avengers: Age of Ultron,330600000,459005868,1403013963,141.0,"Action,Adventure,Sci-Fi"
4,Avengers: Infinity War,300000000,678815482,2048134200,149.0,"Action,Adventure,Sci-Fi"
...,...,...,...,...,...,...
2979,Truth or Dare,3500000,41411015,95127344,90.0,"Drama,Romance"
2980,Truth or Dare,3500000,41411015,95127344,100.0,"Horror,Thriller"
2981,Truth or Dare,3500000,41411015,95127344,92.0,"Comedy,Drama,Romance"
2982,Friday,3500000,27467564,27936778,117.0,Family
2983,The Witch,3500000,25138705,40454520,92.0,"Horror,Mystery"

In [99]:
main_df["Profit"] = main_df["Worldwide Gross"] - main_df["Production Budget"]

In [100]:
main_df

,Title,Production Budget,Domestic Gross,Worldwide Gross,runtime_minutes,genres,Profit
0,Avatar,425000000,760507625,2776345279,93.0,Horror,2351345279
1,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,136.0,"Action,Adventure,Fantasy",635063875
2,Dark Phoenix,350000000,42762350,149762350,113.0,"Action,Adventure,Sci-Fi",-200237650
3,Avengers: Age of Ultron,330600000,459005868,1403013963,141.0,"Action,Adventure,Sci-Fi",1072413963
4,Avengers: Infinity War,300000000,678815482,2048134200,149.0,"Action,Adventure,Sci-Fi",1748134200
...,...,...,...,...,...,...,...
2979,Truth or Dare,3500000,41411015,95127344,90.0,"Drama,Romance",91627344
2980,Truth or Dare,3500000,41411015,95127344,100.0,"Horror,Thriller",91627344
2981,Truth or Dare,3500000,41411015,95127344,92.0,"Comedy,Drama,Romance",91627344
2982,Friday,3500000,27467564,27936778,117.0,Family,24436778
2983,The Witch,3500000,25138705,40454520,92.0,"Horror,Mystery",36954520

In [101]:
main_df.drop_duplicates(subset="Title", keep="first")

,Title,Production Budget,Domestic Gross,Worldwide Gross,runtime_minutes,genres,Profit
0,Avatar,425000000,760507625,2776345279,93.0,Horror,2351345279
1,Pirates of the Caribbean: On Stranger Tides,410600000,241063875,1045663875,136.0,"Action,Adventure,Fantasy",635063875
2,Dark Phoenix,350000000,42762350,149762350,113.0,"Action,Adventure,Sci-Fi",-200237650
3,Avengers: Age of Ultron,330600000,459005868,1403013963,141.0,"Action,Adventure,Sci-Fi",1072413963
4,Avengers: Infinity War,300000000,678815482,2048134200,149.0,"Action,Adventure,Sci-Fi",1748134200
...,...,...,...,...,...,...,...
2974,Annie Get Your Gun,3768785,8000000,8000000,NaN,Crime,4231215
2975,Four Lions,3750000,310007,2436111,97.0,"Comedy,Crime,Drama",-1313889
2976,Truth or Dare,3500000,41411015,95127344,85.0,"Horror,Romance,Thriller",91627344
2982,Friday,3500000,27467564,27936778,117.0,Family,24436778
2983,The Witch,3500000,25138705,40454520,92.0,"Horror,Mystery",36954520

In [102]:
main_df["genres"].nunique() #count of unique genres

322

In [103]:
main_df.sort_values(by=['Profit'], ascending = False,inplace=True)

In [104]:
main_df

,Title,Production Budget,Domestic Gross,Worldwide Gross,runtime_minutes,genres,Profit
0,Avatar,425000000,760507625,2776345279,93.0,Horror,2351345279
40,Titanic,200000000,659363944,2208208395,NaN,Adventure,2008208395
41,Titanic,200000000,659363944,2208208395,115.0,Family,2008208395
4,Avengers: Infinity War,300000000,678815482,2048134200,149.0,"Action,Adventure,Sci-Fi",1748134200
25,Jurassic World,215000000,652270625,1648854864,124.0,"Action,Adventure,Sci-Fi",1433854864
...,...,...,...,...,...,...,...
490,Call of the Wild,82000000,0,0,NaN,"Adventure,Animation,Family",-82000000
463,Bright,90000000,0,0,117.0,"Action,Crime,Fantasy",-90000000
355,Men in Black: International,110000000,3100000,3100000,115.0,"Action,Adventure,Comedy",-106900000
171,Mars Needs Moms,150000000,21392758,39549758,88.0,"Adventure,Animation,Family",-110450242
2,Dark Phoenix,350000000,42762350,149762350,113.0,"Action,Adventure,Sci-Fi",-200237650

In [105]:
main_df.tail()

,Title,Production Budget,Domestic Gross,Worldwide Gross,runtime_minutes,genres,Profit
490,Call of the Wild,82000000,0,0,NaN,"Adventure,Animation,Family",-82000000
463,Bright,90000000,0,0,117.0,"Action,Crime,Fantasy",-90000000
355,Men in Black: International,110000000,3100000,3100000,115.0,"Action,Adventure,Comedy",-106900000
171,Mars Needs Moms,150000000,21392758,39549758,88.0,"Adventure,Animation,Family",-110450242
2,Dark Phoenix,350000000,42762350,149762350,113.0,"Action,Adventure,Sci-Fi",-200237650

In [108]:
main_df1 = main_df[main_df['Profit'] >= 10000000] #with only 3 days to clean and process the data so we want to focus on movies that generates more than 10mil profit

In [109]:
main_df1

,Title,Production Budget,Domestic Gross,Worldwide Gross,runtime_minutes,genres,Profit
0,Avatar,425000000,760507625,2776345279,93.0,Horror,2351345279
40,Titanic,200000000,659363944,2208208395,NaN,Adventure,2008208395
41,Titanic,200000000,659363944,2208208395,115.0,Family,2008208395
4,Avengers: Infinity War,300000000,678815482,2048134200,149.0,"Action,Adventure,Sci-Fi",1748134200
25,Jurassic World,215000000,652270625,1648854864,124.0,"Action,Adventure,Sci-Fi",1433854864
...,...,...,...,...,...,...,...
2489,Heavy Metal,9300000,19571091,19571091,50.0,"Documentary,Family",10271091
1759,What's Your Number?,20000000,14011084,30163785,106.0,"Comedy,Romance",10163785
1423,Just My Luck,28000000,17326650,38159905,NaN,Comedy,10159905
2508,The Edge of Seventeen,9000000,14431633,19096003,104.0,"Comedy,Drama",10096003
2644,Somewhere,7000000,1785645,17023121,97.0,"Comedy,Drama",10023121

In [110]:
main_df1['genres'].nunique()

253

In [53]:
main_df1['genres'].unique()

array(['Horror', 'Family', 'Adventure', 'Action,Adventure,Sci-Fi',
       'Action,Crime,Thriller', 'Fantasy,Romance',
       'Adventure,Drama,Sport', 'Adventure,Animation,Comedy',
       'Family,Fantasy,Musical', 'Drama,Fantasy,Romance',
       'Action,Adventure,Animation', 'Action,Adventure,Fantasy',
       'Action,Adventure,Thriller', 'Adventure,Animation,Drama',
       'Action,Adventure,Comedy', 'Biography,Drama,Music',
       'Fantasy,Musical', 'Documentary', 'Adventure,Family,Fantasy',
       'Action,Thriller', 'Adventure,Drama,Family', 'Animation',
       'Thriller', 'Action,Sci-Fi,Thriller', 'Adventure,Fantasy',
       'Biography,Documentary,History', 'Drama', 'Crime,Drama',
       'Documentary,Drama,Sport', 'Sci-Fi', 'Horror,Thriller',
       'Adventure,Drama,Fantasy', 'Drama,Sci-Fi,Thriller',
       'Action,Adventure,Family', 'Animation,Comedy,Family',
       'Adventure,Drama,Sci-Fi', 'Action,Adventure,Drama',
       'Drama,Romance,Thriller', 'Comedy,Mystery', 'Comedy,Fantasy',
       'Drama,Fantasy,Mystery', 'Action,Biography,Drama',
       'Comedy,Drama,Family', 'Action,Drama,Sci-Fi', 'Fantasy',
       'Adventure,Comedy,Family', 'Drama,Family,Fantasy', 'Musical',
       'Music', 'Animation,Documentary', 'Action,Adventure,Crime',
       'Comedy,Drama,Music', 'Action,Adventure,Biography',
       'Documentary,Music', 'Documentary,Thriller',
       'Action,Horror,Sci-Fi', 'Drama,Western', 'Action,Drama,History',
       'Action,Adventure', 'Adventure,Drama', 'Action,Adventure,Horror',
       'Documentary,Drama,Family', 'Crime,Fantasy,Thriller',
       'Drama,Romance', 'Crime,Drama,Family', 'Drama,Thriller',
       'Drama,Horror,Sci-Fi', 'Action,Mystery,Sci-Fi',
       'Action,Drama,Family', 'Comedy,Romance,Sci-Fi',
       'Drama,Mystery,Thriller', 'Biography,Drama,Musical',
       'Biography,Comedy,Drama', 'Horror,Mystery,Thriller',
       'Crime,Drama,Mystery', 'Biography,Crime,Drama', 'Action',
       'Drama,Family', 'Action,Comedy,Crime', 'Action,Animation,Comedy',
       'Adventure,Mystery,Sci-Fi', 'Comedy,Crime,Drama', 'Drama,Fantasy',
       'Comedy,Romance,Sport', 'Crime', 'Action,Drama,Sport',
       'Crime,Mystery,Thriller', 'Drama,Horror,Thriller', 'Action,Drama',
       'Action,Comedy,Fantasy', 'Comedy', 'Documentary,Family',
       'Comedy,Music', 'Comedy,Romance', 'Biography,Documentary',
       'Documentary,History', 'Action,History,War', 'Comedy,Drama',
       'Documentary,Drama', 'Comedy,Crime',
       'Animation,Documentary,Family', 'Crime,Horror,Mystery',
       'Drama,Sci-Fi', 'Action,Fantasy,War', 'Mystery,Thriller',
       'Adventure,Drama,Western', 'Comedy,Drama,Romance',
       'Biography,Drama,Thriller', 'Comedy,Family,Fantasy',
       'Biography,Drama,History', 'Mystery,Sci-Fi,Thriller',
       'Adventure,Biography,Comedy', 'Action,Adventure,Mystery',
       'Action,Crime,Drama', 'Action,Sci-Fi', 'Drama,Romance,Sci-Fi',
       'Biography,Drama', 'Adventure,Biography,Documentary',
       'Action,Mystery,Thriller', 'Comedy,Mystery,Sci-Fi',
       'Action,Fantasy,Horror', 'Drama,Sport',
       'Adventure,Animation,Family', 'Adventure,Drama,Thriller',
       'Fantasy,Horror', 'Comedy,Musical', 'Adventure,Comedy,Drama',
       'Drama,Mystery,Sci-Fi', 'Drama,Horror,Mystery', 'Drama,War',
       'Action,Comedy,Sci-Fi', 'Action,Comedy',
       'Action,Comedy,Documentary', 'Action,Drama,Fantasy',
       'Action,Drama,Mystery', 'Adventure,Comedy', 'War',
       'Action,Drama,Horror', 'Horror,Sci-Fi,Thriller',
       'Adventure,Comedy,Crime', 'Biography,Documentary,Drama',
       'Action,Drama,Romance', 'Drama,Music,Romance',
       'Comedy,Documentary,Drama', 'Comedy,Fantasy,Romance',
       'Action,Drama,War', 'Drama,History,Thriller',
       'Action,Crime,Sci-Fi', 'Crime,Drama,Thriller',
       'Biography,Drama,Sport', 'Drama,Romance,War',
       'Drama,Fantasy,Horror', 'Action,Adventure,History', 'Mystery',
       'Action,Comedy,Drama', 'Biography,Drama,Romance'], dtype=object)

In [54]:
#can create a histogram
#set unique words = 0 then iterate =+1
#use contains, startwith, endwith